<h1>Rooms#new ルームを新規で登録するページ</h1>
<p>Find me in app/views/rooms/new.html.erb</p>

<%= form_with model: @room do |f| %>

<table>

<tr>
<th><%= f.label :room_name ,"ルーム名" %></th>
<td><%= f.text_field :room_name, :placeholder => "ルーム名を入力" %></td>
</tr>


<tr>
<th><%= f.label :room_introduction ,"ルーム紹介" %></th>
<td><%= f.text_area :room_introduction, :placeholder => "ルーム説明を入力" %></td>
</tr>

<tr>
<th><%= f.label :price ,"料金" %></th>
<td><%= f.number_field :price, :placeholder => "一日あたりの料金を入力" %></td>
</tr>

<tr>
<th><%= f.label :address ,"住所" %></th>
<td><%= f.text_field :adress, :placeholder => "住所を入力" %></td>
</tr>

<tr>
<th><%= f.label :room_image ,"ルーム画像" %></th>
<td><%= f.file_field :room_image, :placeholder => "ルーム画像をアップロード" %></td>
</tr>

</table>

<div>
  <ul>
    <li><%= f.submit "登録完了する"%></li>
    <li><%= link_to "トップ画面に戻る", :rooms %></li>
  </ul>
</div>
<% end %>
